@import "./stylesheet.scss";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 66px;
  background: #ffffff;
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
}

::placeholder {
  color: #ffffff;
}

.section,
.slide {
  background-position: center center;
  background-size: cover;
  &_transparent {
    .fp-tableCell {
      background: transparent !important;
    }
  }
  &_blue {
    .fp-tableCell {
      background: rgba(9, 22, 63, 0.65) !important;
    }
  }
}

.fp-tableCell {
  background: rgba(0, 0, 0, 0.7);
}

[data-anchor="section_10"] {
  .fp-controlArrow {
    display: none !important;
  }
}

.l-header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0083c3;
  z-index: 98;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-flex;
    width: 100%;
    max-width: 265px;
    height: 100%;
    max-height: 80px;
    padding: 10px 20px;
    background: #ffffff;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__nav {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        margin: 0 0 0 35px;
        color: #65c3f1;
        font-family: "Myriad Pro";
        font-size: 22px;
        font-weight: 400;
        line-height: 0.93;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  &__info {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 22px;
    font-weight: 400;
    line-height: 0.99;
    text-align: center;
    a {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: "Myriad Pro";
      font-size: 22px;
      font-weight: 400;
      line-height: 0.99;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__line {
    display: inline-block;
    width: 2px;
    height: 68px;
    background: #ffffff;
  }
  &__social {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: flex-end;
    position: relative;
    a {
      display: inline-block;
      margin: 0 0 0 22px;
      img,
      svg {
        display: block;
        max-width: 51px;
        max-height: 51px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.l-nav {
  display: block;
  position: fixed;
  top: 78px;
  left: 0;
  width: 100%;
  z-index: 99;
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    background: #65c3f1;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 26px 12px;
        color: #ffffff;
        font-family: "Myriad Pro";
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          background: #2c4694;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

.l-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 180px 0 20px 0;
}

.l-welcome {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    display: block;
    margin: 0 0 45px 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 60px;
    font-weight: bold;
    line-height: 0.97;
    text-align: center;
  }
  &__subtitle {
    display: block;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 54px;
    font-weight: bold;
    line-height: 0.98;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }
  &-card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 10px 40px 10px;
    border-radius: 999rem;
    background: #1fbcc3;
    img,
    svg {
      display: block;
      margin: 0;
      padding: 0;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &__button {
    display: inline-block;
    position: relative;
    padding: 28px 56px;
    background: #fdc501;
    color: #000000;
    font-family: "Myriad Pro - Semibold";
    font-size: 31px;
    font-weight: 400;
    line-height: 0.99;
    text-align: center;
    &-info {
      display: block;
      position: absolute;
      bottom: 6px;
      left: 28px;
      margin: 0;
      color: #000000;
      font-family: "Myriad Pro";
      font-size: 21px;
      font-weight: 400;
      line-height: 0.98;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #2f4d99;
      color: #fdc501;
      text-decoration: none;
    }
  }
}

.l-services {
  display: block;
  position: relative;
  width: 100%;
  &__icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 0 30px 0;
    img,
    svg {
      display: inline-block;
      max-width: 300px;
      max-height: 160px;
      margin: 0 0 30px 0;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  &-icon {
    display: block;
    position: relative;
    max-width: 300px;
    max-height: 160px;
    margin: 0 auto 30px auto;
  }
  &-card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 365px;
    min-height: 270px;
    margin: 0 0 5px 0;
    padding: 30px 5px 30px 10px;
    background-color: rgba(10, 26, 73, 0.7);
    &__text {
      color: #ffffff;
      font-family: "Myriad Pro";
      font-size: 30px;
      font-weight: 400;
      line-height: 1.17;
      transition: all 0.2s ease-out;
    }
    &__highlighted {
      color: #65c3f1;
      font-family: "Myriad Pro";
      font-size: 30px;
      font-weight: 400;
      line-height: 1.17;
      text-transform: uppercase;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .l-services-card__text {
        color: #000000;
      }
      .l-services-card__highlighted {
        color: #2c4695;
      }
      background: #ffffff;
      text-decoration: none;
    }
  }
  &__right {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;
  }
  &__button {
    display: inline-block;
    margin-top: -60px;
    position: relative;
    padding: 28px 56px;
    background: #fdc501;
    color: #000000;
    font-family: "Myriad Pro - Semibold";
    font-size: 31px;
    font-weight: 400;
    line-height: 0.99;
    text-align: center;
    &-info {
      display: block;
      position: absolute;
      bottom: 6px;
      left: 28px;
      margin: 0;
      color: #000000;
      font-family: "Myriad Pro";
      font-size: 21px;
      font-weight: 400;
      line-height: 0.98;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #2f4d99;
      color: #fdc501;
      text-decoration: none;
    }
  }
}

.l-features {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
  &-card {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 720px;
    margin: 0 0 20px 0;
    &__left {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-end;
      position: relative;
      width: 100%;
      max-width: 440px;
      padding-right: 35px;
      text-align: right;
    }
    img,
    svg {
      display: block;
      max-width: 190px;
      max-height: 190px;
    }
    &__title {
      display: block;
      margin: 18px 0 0 0;
      color: #fdc501;
      font-family: "Myriad Pro";
      font-size: 40px;
      font-weight: 700;
      line-height: 0.89;
      letter-spacing: 0.14px;
    }
    &__text {
      display: block;
      margin: 10px 0 0 0;
      color: #ffffff;
      font-family: "Myriad Pro";
      font-size: 36px;
      font-weight: 400;
      line-height: 0.99;
      letter-spacing: 0.24px;
    }
    &__phone {
      display: block;
      margin: 58px 0 0 0;
      color: #ffffff;
      font-family: "Myriad Pro";
      font-size: 50px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.34px;
      b,
      strong {
        font-size: 64px;
        font-weight: bold;
        letter-spacing: 0.48px;
      }
    }
  }
}

.l-gogogo {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 73px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.14px;
    text-align: right;
    b,
    strong {
      color: #65c3f1;
      font-weight: 700;
    }
  }
  &__text {
    display: block;
    margin: 0 0 90px 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 35px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.17px;
  }
  &__phone {
    display: block;
    width: 100%;
    margin: 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 79px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.17px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #65c3f1;
      text-decoration: none;
    }
  }
}

.l-key {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    display: block;
    margin: 0 0 70px 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 73px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.14px;
    b,
    strong {
      color: #65c3f1;
      font-weight: 700;
    }
  }
  &__text {
    display: block;
    margin: 0 0 90px 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 35px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.17px;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
  }
  &-card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 365px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
    &__content {
      display: block;
      position: relative;
      width: 100%;
      min-height: 380px;
      padding: 42px 20px;
      background: rgba(0, 0, 0, 0.5) url("../images/icon_plus_big.png") no-repeat center center;
      color: #ffffff;
      font-family: "Myriad Pro";
      font-size: 21px;
      font-weight: 700;
      line-height: 1.19;
      text-transform: uppercase;
      letter-spacing: 0.17px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: rgba(0, 0, 0, 0.7) url("../images/icon_plus_big.png") no-repeat center center;
        color: #65c3f1;
        text-decoration: none;
      }
    }
  }
}

.l-problem {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 73px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.14px;
    b,
    strong {
      color: #65c3f1;
      font-weight: 700;
    }
  }
  &__text {
    display: block;
    margin: 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 35px;
    font-weight: 400;
    line-height: 1.37;
    letter-spacing: 0.17px;
    b,
    strong {
      color: #65c3f1;
      font-weight: 400;
    }
  }
}

.l-team {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 73px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.14px;
    b,
    strong {
      color: #65c3f1;
      font-weight: 700;
    }
  }
  &__text {
    display: block;
    margin: 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 35px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.17px;
    b,
    strong {
      color: #65c3f1;
      font-weight: 400;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }
  &-card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 365px;
    margin: 35px 0 0 0;
    text-align: center;
    &__image {
      display: block;
      width: 100%;
      max-width: 325px;
      height: 325px;
      background-position: center center;
      background-size: cover;
      border-radius: 999rem;
      transition: all 0.2s ease-out;
    }
    &__name {
      display: block;
      min-height: 60px;
      margin: 18px 0 0 0;
      color: #65c3f1;
      font-family: "Myriad Pro";
      font-size: 30px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.25px;
      transition: all 0.2s ease-out;
    }
    &__who {
      display: block;
      margin: 18px 0 0 0;
      color: #ffffff;
      font-family: "Myriad Pro";
      font-size: 20px;
      font-weight: 400;
      line-height: 1.19;
      letter-spacing: 0.17px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .l-team-card__image {
        box-shadow: 3px 4px 59px rgba(0, 0, 0, 0.75);
      }
      .l-team-card__name {
        color: #ffffff;
      }
      text-decoration: none;
    }
  }
}

.l-choose {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 73px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.14px;
    b,
    strong {
      color: #65c3f1;
      font-weight: 700;
    }
  }
  &__centered {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 20px 0 40px 0;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    min-height: 630px;
    margin: 0 auto 10px auto;
    padding: 36px 70px 10px 100px;
    background-color: #2e4996;
    &__title {
      display: block;
      margin: 0 0 28px 0;
      color: #ffffff;
      font-family: "Myriad Pro";
      font-size: 35px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.09px;
      text-align: center;
    }
    &__text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: "Myriad Pro";
      font-size: 25px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.13px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.79);
      background: #65c3f1;
      text-decoration: none;
      z-index: 1;
    }
  }
}

.l-end {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    display: block;
    margin: 0 0 90px 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 73px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.14px;
    b,
    strong {
      color: #65c3f1;
      font-weight: 700;
    }
  }
  &__form {
    display: block;
    position: relative;
    input,
    textarea {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 60px 0;
      padding: 30px 35px;
      border: 0;
      outline: none;
      border-radius: 8px;
      background: #65c3f1;
      color: #193170;
      font-family: "Myriad Pro";
      font-size: 25px;
      font-weight: 400;
      line-height: 1.64;
      letter-spacing: 0.13px;
    }
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    padding: 28px 56px;
    border: 0;
    outline: none;
    border-radius: 8px;
    background: #fdc501;
    color: #000000;
    font-family: "Myriad Pro - Semibold";
    font-size: 31px;
    font-weight: 400;
    line-height: 0.99;
    text-align: center;
    &-info {
      display: block;
      position: absolute;
      bottom: 6px;
      left: 28px;
      margin: 0;
      color: #000000;
      font-family: "Myriad Pro";
      font-size: 21px;
      font-weight: 400;
      line-height: 0.98;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #2f4d99;
      color: #fdc501;
      text-decoration: none;
    }
  }
  &__number {
    display: block;
    margin: -35px 0 15px 0;
    color: #ffffff;
    font-family: "Myriad Pro - Semibold";
    font-size: 161px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.17px;
  }
  &__info {
    display: block;
    margin: 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 35px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.17px;
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #65c3f1;
        text-decoration: none;
      }
    }
  }
  &__subtitle {
    display: block;
    margin: 38px 0 0 0;
    color: #65c3f1;
    font-family: "Myriad Pro - Semibold";
    font-size: 45px;
    font-weight: 400;
    line-height: 1.74;
    letter-spacing: 0.12px;
  }
  &__social {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: flex-end;
    position: relative;
    a {
      display: inline-block;
      margin: 0 22px 0 0;
      filter: brightness(0) invert(1);
      img,
      svg {
        display: block;
        max-width: 51px;
        max-height: 51px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.l-prof {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    display: block;
    margin: 0 0 7px 0;
    color: #fdc501;
    font-family: "Myriad Pro";
    font-size: 70px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.17px;
    b,
    strong {
      color: #65c3f1;
      font-weight: 700;
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 8px 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 35px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.17px;
    b,
    strong {
      color: #65c3f1;
      font-weight: 700;
    }
  }
  &__price {
    display: block;
    width: 100%;
    margin: 25px 0 0 0;
    color: #fdc501;
    font-family: "Myriad Pro";
    font-size: 47px;
    font-weight: 700;
    line-height: 1.32;
    text-align: center;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    min-height: 770px;
    padding: 15px 30px;
    background-color: #65c3f1;
    &__title {
      display: block;
      margin: 0 0 10px 0;
      color: #ffffff;
      font-family: "Myriad Pro";
      font-size: 35px;
      font-weight: 400;
      line-height: 1.17;
      letter-spacing: 0.17px;
    }
    &__text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: "Myriad Pro";
      font-size: 25px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.13px;
    }
    &_white {
      background: #ffffff;
      .l-prof-card__title {
        color: #000000;
      }
      .l-prof-card__text {
        color: #000000;
      }
    }
  }
  &__right {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  &__button {
    display: inline-block;
    position: relative;
    margin: 25px 0 0 0;
    padding: 26px 140px;
    background: #fdc501;
    color: #000000;
    font-family: "Myriad Pro - Semibold";
    font-size: 31px;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #2f4d99;
      color: #fdc501;
      text-decoration: none;
    }
  }
}

.l-quiz {
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 73px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    b,
    strong {
      color: #65c3f1;
      font-weight: 700;
    }
  }
  &__space {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 680px;
    min-height: 90px;
    margin: 0 auto 50px auto;
    padding: 26px 4px;
    background-color: #ffffff;
    color: #2e4896;
    font-family: "Myriad Pro - Semibold";
    font-size: 35px;
    font-weight: 400;
    line-height: 1.14;
    text-align: center;
  }
  &__checkbox {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 120px;
    margin: 0 0 50px 0;
    &_longer {
      max-width: 525px;
    }
    input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        background: #2f4d99;
        color: #fdc501;
      }
    }
    div {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 2px;
      background: #fdc501;
      color: #000000;
      font-family: "Myriad Pro - Semibold";
      font-size: 35px;
      font-weight: 400;
      line-height: 0.87;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #2f4d99;
        color: #fdc501;
        text-decoration: none;
      }
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 2px 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 35px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.17px;
    text-align: center;
  }
  &__stats {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      margin: 0 0 10px 0;
      color: #ffffff;
      font-family: "Myriad Pro";
      font-size: 35px;
      font-weight: 400;
      line-height: 1.17;
      letter-spacing: 0.17px;
      &:before {
        content: "• ";
        color: #ffffff;
        font-family: "Myriad Pro";
        font-size: 35px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.17px;
      }
      &:first-child {
        color: #fdc501;
        &:before {
          color: #fdc501;
        }
      }
    }
  }
}

.mob_fix {
  height: auto !important;
}
.fp-slides {
  height: auto !important;
}
.fp-slide {
  width: 100%;
  /* height: auto !important; */
  overflow: hidden;
}
.fp-slide,
.fp-slidesContainer {
  display: flex !important;
  align-items: stretch;
  height: auto !important;
}
.fp-tableCell {
  height: auto !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1500px;
  }
}

@media (max-width: 1400px) {
  .l-header__nav li a {
    margin: 0 0 0 15px;
    font-size: 20px;
  }
  .l-nav ul li a {
    padding: 18px 12px;
    font-size: 20px;
  }
  .l-services__button {
    margin: 10px 0 0 0;
  }
}

@media (max-width: 1199px) {
  .l-header {
    position: relative;
    top: auto;
    left: auto;
  }
  .l-nav {
    position: relative;
    top: auto;
    left: auto;
    background: #65c3f1;
  }
  .l-header__info {
    display: none;
  }
  .l-header__line {
    display: none;
  }
  .l-header > .container {
    justify-content: space-around;
  }
  .l-header__nav {
    margin-top: 10px;
  }
  .l-header__social {
    margin-bottom: 10px;
  }
  .l-section {
    padding: 40px 0;
  }
  .l-welcome__title {
    font-size: 32px;
  }
  .l-welcome__subtitle {
    font-size: 32px;
  }
  .l-welcome__button {
    margin: 10px 0;
    font-size: 24px;
  }
  .l-services__icons img,
  .l-services__icons svg {
    max-width: 100px;
    max-height: 100px;
  }
  .l-services__cards {
    justify-content: space-around;
  }
  .l-services__button {
    font-size: 24px;
  }
  .l-services__right {
    justify-content: center;
  }
  .l-features-card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    &__left {
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
  .l-features-card__text {
    font-size: 24px;
  }
  .l-features-card__phone {
    margin: 10px 0 0 0;
  }
  .l-gogogo__title {
    margin: 0 0 20px 0;
    font-size: 48px;
  }
  .l-gogogo__text {
    margin: 0 0 20px 0;
  }
  .l-gogogo__phone {
    font-size: 48px;
  }
  .l-key__title {
    margin: 0 0 20px 0;
    font-size: 48px;
  }
  .l-key__text {
    margin: 0 0 20px 0;
    font-size: 24px;
  }
  .l-problem__title {
    margin: 0 0 20px 0;
    font-size: 48px;
  }
  .l-problem__text {
    margin: 0 0 20px 0;
    font-size: 24px;
  }
  .l-team__title {
    margin: 0 0 20px 0;
    font-size: 48px;
  }
  .l-team-card__image {
    max-width: 250px;
    height: 250px;
  }
  .l-choose__title {
    margin: 0 0 20px 0;
    font-size: 48px;
  }
  .l-choose-card {
    min-height: auto;
    padding: 30px 20px;
  }
  .l-end__title {
    margin: 0 0 20px 0;
    font-size: 48px;
  }
  .l-end__form input,
  .l-end__form textarea {
    margin: 0 0 20px 0;
    padding: 24px 16px;
  }
  .l-end__number {
    margin: 20px 0 5px 0;
    font-size: 48px;
  }
  .l-quiz__title {
    margin: 0 0 20px 0;
    font-size: 32px;
  }
  .l-quiz__subtitle {
    margin: 0 0 20px 0;
    font-size: 24px;
  }
  .l-prof__title {
    font-size: 32px;
  }
  .l-prof-card__title {
    font-size: 24px;
  }
  .l-prof-card__text {
    font-size: 18px;
  }
  .l-prof-card {
    min-height: auto;
    padding: 30px 20px;
  }
  .l-prof__price {
    margin: 20px 0;
    font-size: 32px;
  }
  .l-prof__subtitle {
    font-size: 24px;
  }
  .l-prof__right {
    justify-content: center;
    align-items: center;
  }
  .l-features-card__title {
    font-size: 32px;
  }
  #fullpage {
    width: 100%;
    overflow: hidden;
  }
  .l-header__nav li a {
    margin: 0 4px 8px 4px;
    font-size: 18px;
  }
  .l-header__social a {
    margin: 0 5px 5px 5px;
  }
  .l-nav ul li a {
    padding: 10px;
    text-align: center;
  }
  /* .fp-section.fp-table,
  .fp-slide.fp-table {
    height: 100% !important;
  }
  .fp-slidesContainer {
    display: flex;
    align-items: stretch;
  } */
}
